body{height: 150px;background-image: url("../img3/bga1.png");background-repeat: no-repeat;}
h1{font-size: 60px;text-align: center;text-shadow: 5px 5px 5px #FF4500;color: #FFA500;margin: 5px 0 5px 0}
.gd{width: 950px;height: 80px;position: relative;top: 15px;left: 160px;}